/*! Responsive */
// ===========================================================================================

@media (max-width: 1200px){
    .wrapper-header {
        padding: 0 30px;
        height: 0;
    }
    
    .intro {
        padding-top: 10px;
        padding-right: 2em;
        padding-left: 2em;
    }
    
    .after {
        padding-right: 2em;
        padding-left: 2em;
    }
    
    .testimonials {
        padding: 0 2em;
    }
    
    .info_pic,
    .info_details{
        width: 100%;
    }

    .info_details h3,
    .info_details p,
    .info_details a {
        font-size: 95%;
    }
    
    .info_details a {
        max-width: 200px;
    }
}


@media (max-width: 1000px){
    .billboard .caption{
        /*text-align: center;*/
        margin-left: 0;
        margin-top: 420px;
        display: inline-block;
    }
    
    .billboard .caption form {
        width: 100%;
    }
    
    .cta {
        width: 80%;
        margin: 0 auto;
    }
    
    button.cta {
        width: 210px;
    }
}


@media (max-width:1024px) {
    header .home {
        float: none;
    }
    
    header .logo {
        border-right: 0;
        padding-right: 0;
    }
    
    header .shopping-cart {
        float: left;
        margin-top: 5px;
        margin-left: 10px;
    }
    
    .hamburger {
        display: inline-block;
    }

    header nav {
        background: @white;
        margin: 25px 0 0 0;
        padding: 10px 0 0 0;
        border-left: 0;
        border-top: 1px solid @black;
        overflow: hidden;
        text-align: center;
        position: relative;
        z-index: 9999;
        display: block;
        height: auto;
        opacity: 0;
        
        transform: translate3d(100%, 0, 0) scale(0.8);
        transform-origin: top right;
        transition: all .3s ease-in-out;
    }

    header nav.show_menu {
        opacity: 1;
        display: block;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transform: translate3d(0, 0, 0) scale(1);
    }
    
    header .language ul {
        margin-top: 5px;
        margin-right: 7px;
        margin-bottom: 10px;
    }
    
    header nav ul#nav li {
        margin: 0;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid @black50;
    }
    
    header nav ul#nav li:first-child {
        border-top: 1px solid @black50;
        margin-top: 8px;
    }
    
    header nav ul#nav li:last-child{
        border-bottom: 0;
    }
    
    header nav ul#nav li a {
        display: block;
        width: 100%;
        padding: 0;
        height: 60px;
        line-height: 60px;
    }
    
    header nav ul#nav li a:active {
        display: block;
        width: 100%;
        padding: 0;
        background: #2c2c2c;
    }
    
}


@media (max-width: 1024px) and (min-width: 769px) {
    figure.effect-skv p.no-bg {
        display: none;
    }
}


@media (max-width: 800px) {
    .title-block {
        right: 50vw;
        margin-right: -180px;
    }
    
    .features .feature {
        width: 46.66666666666667%;
        margin-right: 6.666666666666667%!important;
    }
    
    .features .feature:nth-child(2n+2) {
        margin-right: 0!important;
    }
    
    .footer-left {
        width: 100%;
    }

    .footer-right {
        width: 100%;
    }
}

@media (max-width: 600px) {
    figure.effect-skv p.no-bg {
        display: none;
    }
}

@media (max-width: 500px){

    .features .feature{
        width: 100%;
        margin-right: 0!important;
    }

}

@media (max-width: 414px) {
    
    figure.effect-skv h3,
    figure.effect-skv p,
    figure.effect-skv2 h2,
    figure.effect-skv2 h3,
    figure.effect-skv3 h2,
    figure.effect-skv3 li {
        font-size: 70%;
    }
    
    figure.effect-skv h2,
    figure.effect-skv2 p,
    figure.effect-skv3 p em {
        font-size: 22px;
    }
}

