/*********************************************
  * Filename: style.css
  * Website: http://www.canmiquel.com/
  * Author: Sokvist
  * Author URI: http://www.sokvist.com
  * Date: 07/03/2016
  * Version: 1.0
*********************************************/


@import "reset.less";
@import "variables.less";
@import "mixins.less";


/*  General CSS */
body {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: @black;
    background-color: #fff;
}

body a {
    text-decoration: none;
    color: @red;
    transition: all .2s linear;
}

body a:hover,
body a:focus {
    color: @coffee;
}

strong {
    font-weight: 800;
}

.wrapper {
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
    position: relative;
}

ul,
ol {
    padding-left: 18px;
}

dt,
dd {
    float: left;
}

dt {
    clear: both;
}

blockquote {
    margin: 30px 0 30px;
    padding: 0 0 0 20px;
    font-size: 18px;
    border-left: 5px solid @grey;
    font-weight: 400;
    font-style: italic;
    line-height: 2;
    color: @black75;
    background-color: @grey25;
}

img.alignleft {
    float: left;
    margin: 0 2em 2em 0;
}

img.alignright {
    float: right;
    margin: 0 0 2em 2em;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Table */
table {
    margin: 1em 0 2em 0;
    width: 100%;
    font-size: 16px;
}

table thead tr,
table tfoot tr,
table tbody tr:last-child,
table tbody tr:nth-last-child(2) {
    border-bottom: solid 1px @black;
}

table tbody tr {
    border-bottom: dotted 1px @black;
    border-left: 0;
    border-right: 0;
    background-color: @grey25;
}

table tbody tr:nth-child(2n + 1) {
    //background-color: @grey25;
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    font-size: 16px;
    font-weight: 800;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    //border-bottom: solid 1px @black;
}

table tfoot {
    //border-top: solid 1px @black;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    //border-bottom: dotted 1px @black;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

.wrapper.center {
    text-align: center;
}

.wrapper.wrapper-margin {
    margin-top: 60px;
    margin-bottom: 60px;
}

.wrapper.wrapper-margin20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

::selection {color:#ffffff;background:#353434;}
::-moz-selection {color:#ffffff;background:#353434;}

.feature a,
header .language ul li a,
header nav ul li a,
header .shopping-cart,
.billboard .caption .webcam,
footer .contact-info a,
.feature .ficon a img,
.info_details a,
.billboard .caption form input[type=submit] {
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}


/*  header  */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(255, 255 ,255 ,0);
    z-index: 9999;
    
    transition: all .2s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}

header.scrolled {
    background: rgba(255, 255 ,255 ,1);
    
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header.fixed.fade-out {
    top: 0;
    height: 56px;
}

header .home {
    float: left;
}

header .logo,
header .svg-logo {
    margin-top: 22px;
    width: 36px;
    height: 36px;
    border-right: 1px solid rgba(53 ,52 ,52, 0.5);
    padding-right: 40px;
    margin-right: 30px;
}

header .svg-logo #circle {
    fill: @black;
    .transition04;
}

header .svg-logo #t {
    fill: @gold;
    .transition04;
}

header .svg-logo:hover #circle,
header .svg-logo:focus #circle {
    fill: transparent;
}

header .svg-logo:hover #t,
header .svg-logo:focus #t {
    fill: @black;
}

header.fixed.fade-out .logo {
    width: 111px;
    margin-top: 9px;
}

header nav {
    //overflow: hidden;
    display: block;
    margin: 0;
    padding: 0 0 0 30px;
    z-index: 9999;
}

header.fixed.fade-out nav {
    margin-top: 8px;
}

header nav ul#nav {
    list-style: none;
}

header nav ul#nav li {
    float: left;
    margin-left: 1px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header.fixed.fade-out nav ul#nav li {
    font-size: 14px;
}

header nav ul#nav li:first-child {
    margin-left: 0;
}

header nav ul#nav li a {
    text-decoration: none;
    color: @black;
    height: 80px;
    line-height: 80px;
    display: block;
    padding: 0 20px;
}

/*header nav ul#nav li:nth-child(4) a {
    cursor: default;
}*/

header nav ul#nav li a:hover,
header nav ul#nav li a:focus {
    background-color: rgba(176, 151, 109, 1);
}

/*header nav ul#nav li:nth-child(4) a:hover,
header nav ul#nav li:nth-child(4) a:focus {
    background-color: transparent;
}*/

header nav ul#nav li.current-menu-item a {
    -webkit-box-shadow: inset 0 2px 0 0 @black;
    box-shadow: inset 0 2px 0 0 @black;
}

header nav ul#nav li.current-menu-item a:hover,
header nav ul#nav li.current-menu-item a:focus {
    color: @black;
    background-color: transparent;
    cursor: default;
}

/*header nav ul#nav li ul {
    background-color: @white;
}

header nav ul#nav li ul li a {
    background-color: rgba(176, 151, 109, 1); 
}

header nav ul#nav li:nth-child(4) ul li a {
    cursor: pointer;
}

header nav ul#nav li ul li a:hover,
header nav ul#nav li ul li a:focus {
    background-color: @white;
}*/

header .language {
    float: right;
}

header.fixed.fade-out .language {
    display: none;
}

header .language ul {
    float: right;
    list-style: none;
    margin-top: 23px;
    margin-right: 20px;
}

header .language ul li {
    float: left;
    margin-left: 10px;
}

header .language ul li a {
    font-weight: 400;
    display: block;
    color: @black;
    border: 1px solid @gold;
    width: 31px;
    height: 31px;
    line-height: 31px;
    font-size: 12px;
    background: transparent;
    text-decoration: none;
    text-align: center;
}

header .language ul li.active a {
    display: none;
}

header .language ul li a:hover {
    border: 1px solid @gold;
    box-shadow: 0 0 5px @gold;
}

header .shopping-cart {
    display: block;
    float: right;
    width: 33px;
    height: 33px;
    margin-top: 23px;
    background-image: url(../images/ios-cart.svg);
    background-size: 18px 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

header .shopping-cart:hover {
    background-color: @gold-lighter;
}

header .shopping-cart .cart-contents-count {
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    float: right;
    text-align: right;
    margin: 0;
}

@media (max-width: 1148px) {
    header .logo {
        padding-right: 30px;
    }
    
    header nav {
        margin-left: 0;
    }
    
    header nav ul#nav li {
        letter-spacing: 0;
    }
    
    header nav ul#nav li a {
        padding: 0 11px;
    }
}


/* Main */
main {
    position: relative;
    background: rgba(255, 255, 255, 1);
    z-index: 2;
}

.fullmargin {
    margin-top: 100vh;
}

.halfmargin {
    margin-top: 50vh;
}

.nomargin {
    margin-top: 80px;
}


/*  Billboard */
.billboard {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(176, 151, 109, 1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    z-index: 1;
}

.fullheight {
    height: 100vh;
}

.halfheight {
    height: 50vh;
    //height: ~"calc(50vh - 80px)";
    //height: calc(~"50vh - 80px");
}

.billboard.halfheight {
    top: 80px;
}

.noheight {
    height: 0;
}

/* IE hack */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    main {
    position: static;
    margin-top: 0;
}
    .billboard {
        position: relative;
        /*height: 100%;*/ 
    }
}


/* http://www.woothemes.com/flexslider/
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.flexslider {
    position: relative;
    top: 0;
}

.noslider .overlay,
.flexslider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
}

.flexslider .overlay {
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.25) 20%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.25) 20%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.25) 20%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.noslider .overlay {
    background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.5) 30%, rgba(255,255,255,0.2) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.5) 30%,rgba(255,255,255,0.2) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.5) 30%,rgba(255,255,255,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );
    
    /*background: -moz-linear-gradient(top, rgba(176, 151, 109,0.7) 0%, rgba(176, 151, 109,0.5) 30%, rgba(176, 151, 109,0.2) 100%);
    background: -webkit-linear-gradient(top, rgba(176, 151, 109,0.7) 0%,rgba(176, 151, 109,0.5) 30%,rgba(176, 151, 109,0.2) 100%);
    background: linear-gradient(to bottom, rgba(176, 151, 109,0.7) 0%,rgba(176, 151, 109,0.5) 30%,rgba(176, 151, 109,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );*/
    
    background: -moz-linear-gradient(top, rgba(211, 198, 175, 0.4) 0%, rgba(211, 198, 175, 0.3) 30%, rgba(211, 198, 175, 0.2) 100%);
    background: -webkit-linear-gradient(top, rgba(211, 198, 175, 0.4) 0%,rgba(211, 198, 175, 0.3) 30%,rgba(211, 198, 175, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(211, 198, 175, 0.4) 0%,rgba(211, 198, 175, 0.3) 30%,rgba(211, 198, 175, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );
    
    //background:-webkit-repeating-linear-gradient(-45deg,rgba(237, 235, 235, 0.5),rgba(237, 235, 235, 0.5) 2px,rgba(211, 198, 175, 0.5) 2px,rgba(211, 198, 175, 0.5) 6px); 
    //background: repeating-linear-gradient(-45deg,rgba(237, 235, 235, 0.5),rgba(237, 235, 235, 0.5) 2px,rgba(211, 198, 175, 0.5) 2px,rgba(211, 198, 175, 0.5) 6px);
    
    //background:-webkit-repeating-linear-gradient(-45deg,rgba(211, 198, 175, 0.5),rgba(211, 198, 175, 0.5) 1px,rgba(211, 198, 175, 0.8) 1px,rgba(211, 198, 175, 0.8) 12px); 
    //background: repeating-linear-gradient(-45deg,rgba(211, 198, 175, 0.5),rgba(211, 198, 175, 0.5) 1px,rgba(211, 198, 175, 0.8) 1px,rgba(211, 198, 175, 0.8) 12px);
}


/* Main title */
.title-block {
    position: absolute;
    width: 466px;
    top: 80px;
    bottom: auto;
    left: 5vw;
    text-align: center;
    margin: 0 auto;
    z-index: 9;
}

.title-bg {
    display: inline-block;
    padding: 0.5em 1.5em;
}

.title-bg svg {
    margin: 0 15px;
}

.main-logo {
    max-height: 144px;
    width: auto;
}

h1.big-title {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    padding-top: 0;
    color: #211915;
    letter-spacing: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.title-desc {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 1.5;
    margin: 20px auto 0;
    color: #211915;
    //text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.title-desc.title-white {
    color: white;
}

@media (max-width: 360px) {
    .title-bg {
        padding: 0.2em 1.5em;
    }
    
    .main-logo {
        max-height: 90px;
    }
    
    h1.big-title {
        font-size: 16px;
    }
    
    .title-desc {
        font-size: 10px;
    }
}


.index2 .title-block {
    position: absolute;
    width: 447px;
    top: auto;
    bottom: 2em;
    left: 2em;
    text-align: center;
    //width: 90%;
    //padding: 0 5%;
    margin: 0 auto;
    z-index: 9;
}

.index2 .title-bg {
    display: inline-block;
    padding: 1em 1.5em;
    /*background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../images/exclusive-paper.png);
    background-repeat: repeat;*/
}

.index2 .title-bg svg {
    fill: @white;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.7));
    margin: 0 5px;
}

.index2 .main-logo {
    max-height: 144px;
    width: auto;
}

.index2 h1.big-title {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    padding-top: 0;
    color: @white;
    letter-spacing: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

.index2 .title-desc {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 1.5;
    margin: 20px auto 0;
    color: @white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

@media (max-width: 600px) {
    .index2 .title-block {
        //right: 50%;
        //margin-right: -180px;
    }
}

@media (max-width: 411px) {
    .index2 .title-block {
        width: 340px;
        left: auto;
        right: auto;
    }
    .index2 .title-bg {
        padding: 1em 1em;
    }
    
    .index2 .main-logo {
        max-height: 90px;
    }
    
    .index2 h1.big-title {
        font-size: 20px;
    }
    
    .index2 .title-desc {
        font-size: 12px;
    }
}



/*  Intro Section  */
.intro {
    display: block;
    padding: 0 60px;
}

.intro h1 {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.intro h2 {
    font-size: 28px;
    line-height: 1.3;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: 800;
}

.intro.intro-legal h2 {
    margin-top: 40px;
}

.intro h2 em {
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    text-transform: none;
    color: @gold;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    margin-bottom: -10px;
}

.intro#qui-som h2 em {
    text-align: left;
    padding-left: 60px;
    margin-top: -30px;
}

.intro-legal h3 {
    font-size: 20px;
    line-height: 1.3;
    margin-top: 40px;
    letter-spacing: 3px;
    font-weight: 800;
}

.intro p {
    font-size: 16px;
    line-height: 2;
    margin-top: 20px;
    letter-spacing: 0.05em;
}

.intro.intro-legal p {
    margin-bottom: 20px;
    line-height: 1.7;
}

.intro-legal li {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 10px;
    letter-spacing: 0.05em;
}


.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 140px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 10px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 20px;
    height: 20px;
    display: block;
    background: @black25;
    cursor: pointer;
    text-indent: -9999px;
    border: 1px solid @white;
    border-radius: 0;
    outline: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.flex-control-paging li a:hover,
.flex-control-paging li a:focus {
    background: @black50;
}

.flex-control-paging li a.flex-active {
    background: @black75;
    cursor: default;
	transform: scale(1.2);
}


.separator {
    min-height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23adabab' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.separator-header,
.separator-middle {
    min-height: 30px;
    //max-width: 1200px; 
    width: 100%;
    margin: 0 auto;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23adabab' fill-opacity='0.7' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #dedede;
    //border-bottom: 1px solid #dedede; 
}

.separator-middle {
    min-height: 60px;
    background-color: @grey;
}

.separator-header::before,
.separator-middle::before {
    content: '';
    position: relative;
    display: block;
    border-top: 1px solid @grey;
}

.separator-header::before {
    max-width: 1200px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    background-color: @grey50;
}

.separator-middle::before {
    max-width: 50%;
    width: 50%;
    height: 60px;
    margin: 0;
    background-color: @grey50;
}

.separator-hover1 {
    min-height: 1px;
    width: 100%;
    margin: 10px auto 0;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23B0976D' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid transparent;
}

.separator-hover2 {
    min-height: 2px;
    width: 100%;
    margin: 15px auto 0;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23B0976D' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid transparent;
}

.separator-hover6 {
    min-height: 6px;
    width: 100%;
    margin: 15px auto 0;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23B0976D' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(132, 117, 78, 0.1);
    border-bottom: 1px solid rgba(132, 117, 78, 0.1);
}

.sep_line {
    display: block;
    width: 13.5px;
    height: 20px;
}

.sep_line:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #dedede;
    margin: 0 auto;
}

.sep_top {
    border-bottom: 1px #dedede solid;
    margin: 0 auto 40px auto;
}

.sep_bottom {
    border-top: 1px #dedede solid;
    margin: 40px auto 0 auto;
}


/*  Footer  */
footer {
    position: relative;
    padding: 0;
    border-top: 1px #dedede solid;
    background: @grey25;
    text-align: center;
    z-index: 3;
}

footer .wrapper-footer {
    max-width: 1200px;
    margin: 0 auto;
    //float: left;
}

.wrapper-footer .spotlight {
    border-top: none;
    border-bottom: none;
    background: @grey75;
}

footer h3 {
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    text-transform: none;
    line-height: 1.2;
    color: #211915;
    margin-bottom: 20px;
}

footer .contact-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

footer .contact-info address {
    font-style: normal !important;
}

footer .contact-info a {
    text-decoration: none;
}

footer .contact-info a:hover,
footer .contact-info a:focus {
    border-bottom: 1px dotted rgba(101, 13, 27, 1);
}

footer .contact-info a.googlemap-small:hover,
footer .contact-info a.googlemap-small:focus {
	border-bottom: none;
}

footer .contact-info a.googlemap-small svg {
    .transition04;
	transform: rotate(0) scale(1);
}

footer .contact-info a.googlemap-small:hover svg,
footer .contact-info a.googlemap-small:focus svg {
	transform: rotate(15deg) scale(1.1);
}

footer .rights {
    font-weight: 400;
    font-size: 12px;
    margin-top: 40px;
    line-height: 25px;
}

footer .rights a {
    text-decoration: none;
}

footer ul.social {
    /*float: right;*/
    display: inline-block;
    list-style: none;
    margin-top: 23px;
}

footer ul.social li {
    float: left;
    margin-left: 10px;
}

ul.social li a {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(53, 52, 52, 1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    
    -webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
}

ul.social li a.email {
    border: 2px solid transparent;
    background-image: url(../images/ios-list.svg);
    background-size: 33px 33px;
    background-position: center center;
    background-repeat: no-repeat;
}

ul.social li a.facebook {
    background-image: url(../images/social-facebook.svg);
}

ul.social li a.twitter {
    background-image: url(../images/social-twitter.svg);
}

ul.social li a.pinterest {
    background-image: url(../images/social-pinterest.svg);
}

ul.social li a.instagram {
    background-image: url(../images/social-instagram.svg);
}

ul.social li a.facebook:hover,
.cs-options ul li a.facebook:hover {
    border-color: rgba(59, 89, 152, 1);
    -webkit-box-shadow: 0 0 3px rgba(59, 89, 152, 1);
    box-shadow: 0 0 3px rgba(59, 89, 152, 1);
}

ul.social li a.twitter:hover,
.cs-options ul li a.twitter:hover {
    border-color: rgba(0, 172, 237, 1);
    -webkit-box-shadow: 0 0 3px rgba(0, 172, 237, 1);
    box-shadow: 0 0 3px rgba(0, 172, 237, 1);
}

ul.social li a.pinterest:hover,
.cs-options ul li a.pinterest:hover {
    border-color: rgba(203, 32, 39, 1);/* #cb2027 */
    -webkit-box-shadow: 0 0 3px rgba(203, 32, 39, 1);
    box-shadow: 0 0 3px rgba(203, 32, 39, 1);
}

ul.social li a.instagram:hover,
.cs-options ul li a.instagram:hover {
    border-color: rgba(81, 127, 164, 1);/* #517fa4 */
    -webkit-box-shadow: 0 0 3px rgba(81, 127, 164, 1);
    box-shadow: 0 0 3px rgba(81, 127, 164, 1);
}

ul.social li a.email:hover {
    border: 2px solid transparent;
}

.footer-left,
.footer-right {
    padding: 60px 5px;
}

.footer-left {
    width: 33.3333%;
}

.top-footer .footer-left {
    background-color: white;
}

.footer-right {
    width: 66.6666%;
}

.spotlight.bottom-footer {
    background-color: transparent !important;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23adabab' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.bottom-footer .footer-left {
    background-color: @grey50;
}

.footer-left .svg-logo {
    height: 150px;
    margin: 40px auto;
}

.footer-left .svg-logo #t {
    fill: @white;
}

.footer-left .svg-logo #circle {
    fill: @gold;
}

.subscribe-form,
.footer-menu {
    text-align: right;
    margin-right: 30px;
    margin-left: 30px;
}

.footer-menu li {
    display: flex;
    flex-direction: column;
}

.footer-menu li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.9;
}

.footer-menu li a:hover,
.footer-menu li a:focus {
    background-color: @grey75;
}

.footer-menu li span {
    font-size: 12px;
    margin: 0 0 15px;
    line-height: 1.3;
}

.legal-pages {
    margin-bottom: 60px;
}

.legal-pages li {
    display: inline;
}

.legal-pages li a {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.7;
    padding: 4px 6px;
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.legal-pages li a:hover,
.legal-pages li a:focus {
    background-color: @grey75;
}

.copyright-footer,
.social-footer a {
    margin: 0 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

.copyright-footer {
    font-size: 12px;
}


/* Form */
input[type=text],
input[type=email],
input[type=tel],
input[type=password],
input[type=search],
input[type=url],
input[type=number],
textarea,
select {
    color: @black;
    border: 0;
    border-bottom: 1px solid @black;
    height: 32px;    
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    line-height: 32px;
    padding: 0;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    font-family: 'Nunito', sans-serif;
    color: @black50;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=password]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
    font-family: 'Nunito', sans-serif;
    color: @black50;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: 1;
}

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    font-family: 'Nunito', sans-serif;
    color: @black50;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=password]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
    font-family: 'Nunito', sans-serif;
    color: @black50;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: 1;
}

// Firefox: hide number picker 
input[type=number] { 
    -moz-appearance: textfield; 
} 

// Show number picker on focus 
input[type=number]:focus, 
input[type=number]:hover { 
    -moz-appearance: number-input; 
}

select {
    -moz-appearance: none;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea,
select {
    margin-bottom: 25px;
}

textarea {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding-top: 13px;
    overflow: hidden;
    padding-bottom: 5px;
}

textarea:focus {
    height: 150px;
    overflow: auto;
}

input[name="your-name"] {
    margin-top: 0;
    padding-top: 0;
}

/*  Checkbox & radio inputs
    https://codepen.io/aaroniker/pen/ZEYoxEY */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    
    input[type='checkbox'],    
    input[type='radio'] {
        --active: rgba(19, 8, 9, 1);
        --active-inner: #fff;
        --focus: 2px rgba(32, 25, 21, .3);
        --border: rgba(19, 8, 9, 1);
        --border-hover: rgba(19, 8, 9, 1);
        --background: #fff;
        --disabled: #4d4744;
        --disabled-inner: #4d4744;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        -webkit-transition: background .3s, border-color .3s, box-shadow .2s;
        transition: background .3s, border-color .3s, box-shadow .2s;
    }
    
    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    
    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
    }
    
    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    
    input[type='checkbox']:disabled + label,
    input[type='radio']:disabled + label {
        cursor: not-allowed;
    }
    
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    
    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
        width: 21px;
    }
    
    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }
    
    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }
    
    input[type='checkbox'] + label,
    input[type='radio'] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 0;
    }
    
    input[type='checkbox']:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        -webkit-transform: rotate(var(--r, 20deg));
                transform: rotate(var(--r, 20deg));
    }
    
    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
    
    input[type='checkbox'].switch {
        width: 38px;
        border-radius: 11px;
    }
    
    input[type='checkbox'].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        -webkit-transform: translateX(var(--x, 0));
                transform: translateX(var(--x, 0));
    }
    
    input[type='checkbox'].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    
    input[type='checkbox'].switch:disabled:not(:checked):after {
        opacity: .6;
    }

    input[type='radio'] {
        border-radius: 50%;
    }
    
    input[type='radio']:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        -webkit-transform: scale(var(--s, 0.7));
                transform: scale(var(--s, 0.7));
    }
    
    input[type='radio']:checked {
        --s: .5;
    }
}
/* end checkbox & radio buttons */

div.contact-form-response-output {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

span.contact-form-not-valid-tip {
    font-size: 10px;
}

.wpcf7-form {
    
    .p-accept {
        font-size: 12px !important;
    }
    
    .p-accept span {
        margin: 0;
    }
    
    input[type=checkbox] {
        border: solid 1px #dedede;
        background: #fff;
        color: @black;
        clear: none;
        cursor: pointer;
        display: inline-block;
        line-height: 0;
        height: 16px;
        margin: -4px 4px 0 0;
        outline: 0;
        padding: 0!important;
        text-align: center;
        vertical-align: middle;
        width: 16px;
        min-width: 16px;
        -webkit-appearance: none;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        -webkit-transition: .05s border-color ease-in-out;
        transition: .05s border-color ease-in-out
    }

    input[type=checkbox] {
        margin-top: -4px
    }

    input[type=checkbox]:checked:before {
        float: left;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        font: 400 21px/1 dashicons;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    input[type=checkbox]:checked:before {
        content: "\2714";
        margin: -3px 0 0 -4px;
        color: @black;
    }
    
    .screen-reader-response {
        display: block;
        margin: 40px auto;
        color: rgba(211, 72, 54, 1);
        
        ul {
            list-style-type: none;
            margin: 20px auto;
            
            li {
                margin: 10px auto;
            }
        }
    }
    
    .wpcf7-validation-errors,
    .wpcf7-not-valid-tip {
        display: block;
        margin: 10px auto;
        color: rgba(211, 72, 54, 1);
    }
    
    .simple-captcha {
        margin: 1em auto 0em;
        text-align: center;
        
        img.wpcf7-captchac {
            display: block;
            margin: 0 auto -5px;
        }
        
        input.wpcf7-captchar {
            max-width: 60px;
            font-size: 20px;
            height: 30px;
            padding: 0 4px;
        }
    }
}

.screen-reader-response,
.wpcf7-acceptance-missing,
.wpcf7-mail-sent-ok {
    color: @red;
    padding: 10px;
}

@media screen and (max-width: 805px) {       

    input[type=text],
    input[type=email],
    textarea,
    p.custom-field-class,
    #commentform #email,
    #commentform #author,
    #commentform #comment {
        width: 100% !important;
    }        

}


/* Mailchimp form */
#mce-error-response,
#mce-success-response {
    display: none;
}

#real-people {
    position: absolute;
    left: -5000px;
}


/* Back to Top */

#back-to-top {
	display: block;
	background-color: rgba(19, 8, 9, 0.2);
	margin: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 99;
	.transition03;
}

#back-to-top:hover,
#back-to-top:focus {
	background-color: @red;
}

#back-to-top:before {
	font-size: 18px;
	color: #FFFFFF;
	line-height: 50px;
    display: inline-block;
    content: '\25b2';
}




// Responsive & Plugins
// ---------------------------------------------------------------------------
@import "pages.less";
@import "shop.less";
@import "plugins.less";
@import "responsive.less";
